%h2 My Wanted Movies
- if @wanted_movies.empty?
  %p You don't have any movies saved to your wanted list.  Check out the #{link_to 'New Releases', new_releases_dvds_path} and add some!
= render @wanted_movies
