@import "foundation/variables";
@import "foundation/components/global";
@import "foundation/components/alert-boxes";
@import "foundation/components/panels";
@import 'foundation-icons';

.movie-controls { display:none; }
.movie-poster:hover .movie-controls { display:block; }

.alert-box-notice{ 
  @include alert-base;
  @include alert-style(#ff6c3c); 
  .close { @include alert-close; }
}

.movie-item {
  @include panel;
  margin-bottom:10px !important;
}

.freshness {
  margin-top:8px;
}

.movie-title {
  h4 { padding: 0 }
}

.hidden {
  display:none;
}
