%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        =link_to 'TomatoBag', root_url
  %section.top-bar-section
    %ul.right
      %li= link_to 'Available Now', new_releases_dvds_url
      %li.divider.hide-for-small
      %li= link_to 'Available Soon', upcoming_releases_dvds_url
      %li.divider.hide-for-small
      %li.has-dropdown.not-click
        %a{href: '#'} My Movies
        %ul.dropdown
          %li= link_to 'Wanted Movies', wanted_flagged_movies_path
          %li= link_to 'Watched Movies', watched_flagged_movies_path
